
* {
	-fx-primary-grey: #444752;
	-fx-dark-grey: #282a30;
	-fx-medium-grey: #373a42;
	-fx-ligther-grey: #5c6070;

	-fx-primary-purple: #ab467f;
	-fx-lighter-purple: #d1569b;
	-fx-dark-purple: #4b4146;

	-fx-primary-red: #b31414;

	-fx-label-text-color: white;
}

.dark-background {
    -fx-background-color: -fx-dark-grey;
}

.primary-grey-bg {
	-fx-background-color: -fx-primary-grey;
}

.light-grey-bg {
	-fx-background-color: -fx-ligther-grey;
}

.list-cell .label{
	-fx-text-fill: white;
}

.list-cell {
	-fx-text-fill: white;
	-fx-padding: 10px;
	-fx-background-color: -fx-dark-grey;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
	-fx-text-fill: white;
    -fx-background-color: linear-gradient(-fx-primary-purple 50%, -fx-dark-purple 100%);
}

.list-cell:odd {
	-fx-text-fill: white;
    -fx-cell-hover-color: -fx-primary-purple;
    -fx-background-color: -fx-primary-grey;
}

.list-cell:filled:hover {
    -fx-cell-hover-color: -fx-primary-purple;
}


.file-property{
	-fx-text-fill: white;
	-fx-padding: 5px;
	-fx-font-weight: bold;
}

.file-property-value{
	-fx-text-fill: white;
	-fx-padding: 5px;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
}

.split-pane-divider {
   -fx-background-color: transparent;
}

.error-border {
	-fx-border-color: red;
}

.slider .track {
	-fx-background-color: -fx-dark-grey;
}

.slider .thumb{
	-fx-background-color: -fx-primary-purple;
}

.pause-button {
	-fx-background-color: -fx-dark-grey;
	-fx-text-fill: white;
	-fx-font-weight: 9;
	-fx-text-alignment: center;

}