
* {
	-fx-primary-grey: #444752;
	-fx-dark-grey: #282a30;
	-fx-medium-grey: #373a42;
	-fx-ligther-grey: #5c6070;

	-fx-primary-blue: #0c0845;

	-fx-primary-purple: #ab467f;
	-fx-lighter-purple: #d1569b;
	-fx-dark-purple: #4b4146;

	-fx-primary-red: #b31414;

	-fx-label-text-color: white;
}

.label {
	-fx-text-fill: white;
	-fx-font-size: 12px;
}

.tag {
	-fx-padding: 5px;
	-fx-background-color: -fx-primary-purple;
	-fx-border-radius: 100 100 10 10;
	-fx-opacity: 1.0;
}

.dark-background {
    -fx-background-color: -fx-dark-grey;
}
.medium-dark-background {
	-fx-background-color: -fx-medium-grey;
}

.primary-grey-bg {
	-fx-background-color: -fx-primary-grey;
}

.light-grey-bg {
	-fx-background-color: -fx-ligther-grey;
}

.list-cell .label{
	-fx-text-fill: white;
}

.list-cell {
	-fx-text-fill: white;
	-fx-padding: 10px;
	-fx-background-color: -fx-dark-grey;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
	-fx-text-fill: white;
    -fx-background-color: linear-gradient(#b10063 20%,-fx-primary-purple 100%);
}

.list-cell:odd {
	-fx-text-fill: white;
    -fx-cell-hover-color: -fx-primary-purple;
    -fx-background-color: -fx-primary-grey;
}

.list-cell:filled:hover {
    -fx-cell-hover-color: -fx-primary-purple;
}


.file-property{
	-fx-text-fill: white;
	-fx-padding: 5px;
	-fx-font-weight: bold;
}

.file-property-value{
	-fx-text-fill: white;
	-fx-padding: 5px;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
}

.split-pane-divider {
   -fx-background-color: transparent;
}

.error-border {
	-fx-border-color: red;
}

.slider .track {
	-fx-background-color: -fx-dark-grey;
}

.slider .thumb{
	-fx-background-color: -fx-primary-purple;
}

.pause-button {
	-fx-background-color: -fx-dark-grey;
	-fx-text-fill: white;
	-fx-text-alignment: center;
}

#mediaView {
	-fx-background-color: -fx-dark-grey;
}

.button, .split-menu-button {
	-fx-text-fill: white;
	-fx-background-color: -fx-dark-grey;
    -fx-background-radius: 0;
    -fx-padding: 2;
}


.split-menu-button > .arrow-button {
	-fx-text-fill: white;
	-fx-background-color: -fx-dark-grey;
    -fx-background-radius: 0;
    -fx-padding: 2;
}

.split-menu-button > .label {
    -fx-background-color: transparent;
    -fx-background-insets: -0.2;
    -fx-background-radius: 3;
}


.green-background {
	-fx-background-color: seagreen;
}


/***********************************************************
						MENU
***********************************************************/

.menu-bar {
    -fx-background-color: -fx-dark-grey ;
}

.menu, .menu-item, .context-menu {
    -fx-background-color: -fx-dark-grey;
}

.menu-item {
	-fx-text-fill: white;
	-fx-background-color: -fx-dark-grey;
	-fx-padding: 3;
}

.menu-item:hover {
	-fx-background-color: -fx-primary-purple;
}




/***********************************************************
						TAB PANE
***********************************************************/
.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overridden as 5 2 0 0 */
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

/*Removes the blue glowing border at selected tabpane*/
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.tab-pane {
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab {
    -fx-background-color: -fx-medium-grey;
}

.tab-pane .tab:selected {
    -fx-background-color:  -fx-medium-grey;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: -fx-primary-purple;
}

/***********************************************************
						SCROLL PANE
***********************************************************/
.scroll-pane{
   -fx-background-color:transparent;
}

.scroll-pane > .viewport {  //not .scrollpane but .scroll-pane
   -fx-background-color: transparent;
}



